<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.fta.handson.listeners.TestListener"/>
    </listeners>

    <test parallel="methods" thread-count="2"
          name="C:/Users/Lenovo/Desktop/sKA/courses/fTABasicsUSA/handson/fTABasicsMavenProject">
        <classes>
<!--            <class name="com.fta.handson.tests.SauceDemoStandardUserLoginTest"/>-->
<!--            <class name="com.fta.handson.tests.SauceDemoStandardUserLoginAddToCartTest"/>-->
<!--            <class name="com.fta.handson.tests.SauceDemoLockedOutUserLoginTest"/>-->
            <class name="com.fta.handson.tests.SauceLabsHomePageTest"/>
<!--            <class name="com.fta.handson.tests.SauceDemoUserLoginDataProviderTest"/>-->
<!--            <class name="com.fta.handson.tests.SauceDemoUserLoginWithExcelDataSupplierTest"/>-->
<!--            <class name="com.fta.handson.tests.SauceDemoUserLoginWithJSONDataSupplierTest"/>-->
        </classes>
    </test>
</suite>