<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="2"
          name="C:/Users/Lenovo/Desktop/sKA/courses/fTABasicsUSA/handson/fTABasicsMavenProject">
        <classes>
            <class name="com.fta.handson.tests.SauceDemoStandardUserLoginTest"/>
            <class name="com.fta.handson.tests.SauceDemoStandardUserLoginAddToCartTest"/>
        </classes>
    </test>
</suite>